* {
	palette-0: #080808;
	palette-1: #0d0d0d;
	palette-2: #121212;
	palette-3: #1a1a1a;
	palette-4: #252525;
	palette-5: #383838;
	palette-6: #5a5a5a;
	palette-7: #959595;
	palette-8: #e27575;
	palette-9: #ad9346;
	palette-10: #70a33e;
	palette-11: #43a95d;
	palette-12: #3ea4a4;
	palette-13: #7993de;
	palette-14: #b27fe4;
	palette-15: #d772be;
	palette-highlight: bold #70a33e;
}
