@theme "themes/pal"

* {
  background-color: @pal-0;
  highlight: @pal-hi;
  text-color: @pal-7;
}

element selected {
  background-color: @pal-2;
  text-color: @pal-14;
}

element-text {
  background-color: inherit;
  text-color: inherit;
}

entry {
  text-color: @pal-11;
}

inputbar {
  spacing: 1ch;
}

prompt {
  text-color: @pal-15;
}

window {
  background-color: @pal-0;
  border: 2px;
  border-color: @pal-6;
}
